<!doctype html>  
<html lang="en">  
 <head>  
  <meta charset="UTF-8">    
  <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
  <link href="https://unpkg.com/nes.css@2.1.0/css/nes.min.css" rel="stylesheet" />
  <base href="http://62.234.91.34:8080" />
  <base target="_blank" />
  <title>TEST</title>  
    <style>
      body {
        margin:0px auto; 
        text-align: center;
      }
      #list {
        width:100%;
        margin:0px auto;  
        background:rgba(165,72,81,0.05); 
        z-index: 99;
        top:20%;
        text-align: center;
      }
    </style>  
 </head>  
  
  
 <body>
  <h2>测试题目</h2>
  <p>这一问卷用于揭示你是如何看待事物以及如何做决定的，接下来，让我们静下心来，慢慢的进入水鸟的世界，答案并无好坏之分，越走心的回答测试结果将会更加准确，请选择最接近地描述了你通常的思考和行为方式的答案</p>
    <div id="list">  
      <form action="/api/v1/test" method="POST">

        <b>1、当你某日想去某个地方观赏水鸟，你会_____？</b><br>
        <input type="radio" name="Quest1" value="A" required/>A.计划好将做的事情（例如调查好水鸟分布情况）以及何时做&ensp;&ensp;
        <input type="radio" name="Quest1" value="B">B.什么都不想就直接冲出去找地方看<br><br>

        <b>2、如果你是水鸟方面课程的讲师，你愿教______？</b><br>
        <input type="radio" name="Quest2" value="A" required/>A.涉及事实的事情（例如水鸟现状，分布情况等）&ensp;&ensp;
        <input type="radio" name="Quest2" value="B">B.涉及理论的课程（例如水鸟研究方式等）<br><br>

        <b>3、你通常是_____？</b><br>
        <input type="radio" name="Quest3" value="A" required>A.一个善于交际的人&ensp;&ensp;
        <input type="radio" name="Quest3" value="B">B.安静缄默的人<br><br>

        <b>4、你喜欢_____？</b><br>
        <input type="radio" name="Quest4" value="A" required>A.先安排好观察水鸟的活动&ensp;&ensp;
        <input type="radio" name="Quest4" value="B">B.要时机恰当就无拘无束地去观察水鸟<br><br>

        <b>5、你通常和_____相处得更好？</b><br>
        <input type="radio" name="Quest5" value="A" required>A.想象力丰富的人&ensp;&ensp;
        <input type="radio" name="Quest5" value="B">B.现实的人<br><br>

        <b>6、当你起参加水鸟茶会时，你会_____？</b><br>
        <input type="radio" name="Quest6" value="A" required>A.参加大家的谈话&ensp;&ensp;
        <input type="radio" name="Quest6" value="B">B.只同你熟知的人单独谈话<br><br>

        <b>7、在同样类似于的茶会中，你常更多地_____？</b><br>
        <input type="radio" name="Quest7" value="A" required>A.介绍他人&ensp;&ensp;
        <input type="radio" name="Quest7" value="B">B.由别人来介绍你<br><br>

        <b>8、当你作为一名水鸟方面的专家，你更喜欢_____样的学生？</b><br>
        <input type="radio" name="Quest8" value="A" required>A.头脑灵活&ensp;&ensp;
        <input type="radio" name="Quest8" value="B">B.务实且有丰富常识<br><br>

        <b>9、被称为_____是更高的赞赏？</b><br>
        <input type="radio" name="Quest9" value="A" required>A.水鸟的知音&ensp;&ensp;
        <input type="radio" name="Quest9" value="B">B.水鸟学术专家<br><br>

        <b>10、当被安排了研究水鸟习性的课题，你喜欢_____？</b><br>
        <input type="radio" name="Quest10" value="A" required>A.在时间紧迫的情况下争分夺秒地工作&ensp;&ensp;
        <input type="radio" name="Quest10" value="B">B.通常先安排好工作并加以完成，以免压力过大<br><br>

        <b>11、从事研究工作时，你愿把_____作为朋友？</b><br>
        <input type="radio" name="Quest11" value="A" required>A.常有新观点的人&ensp;&ensp;
        <input type="radio" name="Quest11" value="B">B.脚踏实地的人<br><br>

        <b>12、作为一只水鸟（咕咕咕，你能否_____？</b><br>
        <input type="radio" name="Quest12" value="A" required>A.只要愿意就能轻松地同几乎任何水鸟说个没完&ensp;&ensp;
        <input type="radio" name="Quest12" value="B">B.只能在特定场合下或同特定的水鸟才愿意讲许多话<br><br>

        <b>13、当有一项特殊水鸟研究工作时，你会_____？</b><br>
        <input type="radio" name="Quest13" value="A" required>A.在开始前精心组织策划&ensp;&ensp;
        <input type="radio" name="Quest13" value="B" >B.在工作进行中找出必要环节<br><br>

        <b>14、闲暇之余，当你为了消遣而阅读时，你_____？</b><br>
        <input type="radio" name="Quest14" value="A" required>A.欣赏奇特新颖的表达方式&ensp;&ensp;
        <input type="radio" name="Quest14" value="B" >B.喜欢作者确切地表达其意思<br><br>

        <b>15、你新认识的人_____说出你的兴趣所在？</b><br>
        <input type="radio" name="Quest15" value="A" required>A.马上就能&ensp;&ensp;
        <input type="radio" name="Quest15" value="B">B.只有当他们真正了解你之后才能<br><br>

        <b>16、在计划一次水鸟环球旅行时，你更喜欢_____？</b><br>
        <input type="radio" name="Quest16" value="A" required>A.在多数情况下随心所欲地寻找&ensp;&ensp;
        <input type="radio" name="Quest16" value="B">B.事先就知道在大部分日子所将做的事情<br><br>

        <b>17、做很多人都会做的事情时，你喜欢_____？</b><br>
        <input type="radio" name="Quest17" value="A" required>A.按惯例做&ensp;&ensp;
        <input type="radio" name="Quest17" value="B">B.按自己独创的方式做<br><br>

        <b>18、在生活会上，多数人认为你_____？</b><br>
        <input type="radio" name="Quest18" value="A" required>A.不太把自己的事情告诉别人&ensp;&ensp;
        <input type="radio" name="Quest18" value="B">B.非常坦率<br><br>

        <b>19、你觉得被许多水鸟簇拥着_____？</b><br>
        <input type="radio" name="Quest19" value="A" required>A.让你感到更有精神超级开心&ensp;&ensp;
        <input type="radio" name="Quest19" value="B">B.让你觉得精力衰竭难于应付<br><br>

        <b>20、作决定时，对于你来说更重要的是_____？</b><br>
        <input type="radio" name="Quest20" value="A" required>A.权衡事实&ensp;&ensp;
        <input type="radio" name="Quest20" value="B">B.考虑人们的感受和观点<br><br>

        <b>21、在水鸟茶会中，你_____？</b><br>
        <input type="radio" name="Quest21" value="A" required>A.有时觉得无趣&ensp;&ensp;
        <input type="radio" name="Quest21" value="B">B.总是玩得很开心<br><br>

        <b>22、作为一只水鸟（咕咕咕？，你通常_____？</b><br>
        <input type="radio" name="Quest22" value="A" required>A.同大部分水鸟打成一片&ensp;&ensp;
        <input type="radio" name="Quest22" value="B">B.倾向于做一只高冷的水鸟<br><br>

        <b>23、你喜欢_____？</b><br>
        <input type="radio" name="Quest23" value="A" required>A.看清事态如何发展再作计划&ensp;&ensp;
        <input type="radio" name="Quest23" value="B">B.事先很早就作好准备<br><br>

        <b>24、关于水鸟，你更喜欢上涉及_____的课程？</b><br>
        <input type="radio" name="Quest24" value="A" required>A.水鸟的概念和调查原则&ensp;&ensp;
        <input type="radio" name="Quest24" value="B">B.水鸟调查的具体方式方法<br><br>

        <b>25、再次作为一只水鸟（咕咕咕？，你觉得自己更偏向于是一个_____？</b><br>
        <input type="radio" name="Quest25" value="A" required>A.自发性的水鸟&ensp;&ensp;
        <input type="radio" name="Quest25" value="B">B.有组织性的水鸟<br><br>

        <b>26、你_____？</b><br>
        <input type="radio" name="Quest26" value="A" required>A.只同和自己有共同兴趣的人才能长时间的交谈&ensp;&ensp;
        <input type="radio" name="Quest26" value="B">B.只要愿意，就能和几乎任何一个人介绍你所喜欢的水鸟<br><br>

        <b>27、当你开始了一项必须在一周内完成的大项目时，你会_____？</b><br>
        <input type="radio" name="Quest27" value="A" required>A.花时间列出所要做的事情及其先后次序&ensp;&ensp;
        <input type="radio" name="Quest27" value="B">B.直接开始<br><br>

        <b>28、被称为_____是更高的赞赏？</b><br>
        <input type="radio" name="Quest28" value="A" required>A.水鸟研究的佼佼者&ensp;&ensp;
        <input type="radio" name="Quest28" value="B">B.充满爱意的水鸟研究生<br><br>

        <b>29、你愿在一个_____老师手下学习？</b><br>
        <input type="radio" name="Quest29" value="A" required>A.脾气好，但前后不一致&ensp;&ensp;
        <input type="radio" name="Quest29" value="B">B.对人严厉，但有条理<br><br>

        <b>30、你喜欢的处事方式是_____？</b><br>
        <input type="radio" name="Quest30" value="A" required>A.坚持那些已经有效的水鸟研究方法&ensp;&ensp;
        <input type="radio" name="Quest30" value="B">B.分析那些仍有错并挑战未解决的研究问题<br><br>

        <input type="submit" value="提交">
      </form> 
    </div>
 </body>  
</html>  